<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.ivanvc.mongo.arguments</key>
	<array/>
	<key>org.ivanvc.mongo.launchPath</key>
	<string></string>
	<key>org.ivanvc.mongo.parameters</key>
	<array/>
</dict>
</plist>
